/* Post element */
.post {
    width: 95%;
    max-width: 50rem;
}

.post_container {
    display: flex;
    flex-direction: column;
}


/* Author, subreddit and time */
.post_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

.post_author {
    font-weight: normal;
}

.post_time {
    color: #ffffff88;
    font-size: 0.8rem;
}


/* Post's title */
.post_title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.post p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 1.5em;
    cursor: pointer;
    text-indent: 1rem;
    text-overflow: clip;
}

.post p[key='noFirst'] {
    display: none;
}

dialog p {
    font-weight: normal;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    text-indent: 0.5rem;
}


/* Post's Image */
.post_img {
    display: inline;
    cursor: pointer;
    margin-bottom: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth fade-in transition */
  }
  
  .post_img.loaded {
    opacity: 1; /* Show image when loaded */
  }

/* Post buttons (upvotes and comments) */
.interactions {
    display: flex;
    gap: 2rem;
}


/* Votes button */
.vote_container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.upvote_button,
.downvote_button,
.comments_button {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}

.upvote_button:hover,
.downvote_button:hover,
.comments_button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.upvote_icon,
.downvote_icon {
    width: 1.8rem;
    height: 1.9640625rem;
}

.downvote_icon {
    transform: rotate(180deg);
    margin-left: 0.6rem;
}

/* Comment button */
.comments_container {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.comments_icon {
    width: 2.4rem;
    height: 1.859375rem;
}