.subreddit_list {
    padding-top: 6rem;
    padding-right: 1.3rem;
    display: flex;
    flex-direction: column;
    width: 50%;

}

.subreddits_title {
    margin-bottom: 1rem;
}

.subreddit_option {
    font-size: 1.2rem;
    text-align: start;
    line-height: 1.75;
    padding-left: 0.12rem;
    transition: all 0.2s;
}

.subreddit_option:hover {
    transform: scale(1.1);
    background-color: #5031ce;
    cursor: pointer;
}