/* src/components/post/PostItem/PostComments.css */
.comments-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 62rem;
    background-color: #000;
    border: 0.1rem solid #ffffff96;
    border-radius: 8px;
    box-shadow: 0 0rem 20rem 20rem rgba(0, 0, 0, 0.56);
    padding: 20px;
    z-index: 3000;
    scrollbar-color: rgb(225, 125, 19) rgba(209, 98, 8, 0);
  }
  
  .comments-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-close-button {
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    transition: all 0.2s;
  }

  .modal-close-button:hover {
    transform: scale(1.15);
  }

  .close_icon {
    cursor: pointer;
    padding-right: 0.25rem;
    color: #fa0101;
    font-weight: bold;
    text-shadow:
    0 0 0.4375rem #FA0101,
    0 0 0.625rem #FA0101,
    0 0 1.3125rem #FA0101,
    0 0 2.625rem #FA0101,
    0 0 5.125rem #FA0101,
    0 0 5.75rem #FA0101,
    0 0 6.375rem #FA0101,
    0 0 9.4375rem #FA0101;
  }
  
  .modal-content {
    margin-top: 1rem;
    padding-right: 0.5rem;
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .selected-post {
    margin-bottom: 20px;
  }
  
  .comments-list {
    list-style-type: none;
    padding: 0;
  }
  
  .comments-list li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

/* HTML: <div class="comments_loader"></div> */
.comments_loader {
  margin-top: 1rem;
  width: 100%;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#ffffff35 0 0);
  background: 
    var(--c) 0% 100%,
    var(--c) 20% 100%,
    var(--c) 40% 100%,
    var(--c) 60% 100%;
  animation: l2 1s infinite linear;
  transform: rotate(90deg);
}
@keyframes l2 {
  0%  {background-size: 10% 100%,10% 100%,10% 100%,10% 100%}
  20% {background-size: 10% 60% ,10% 100%,10% 100%,10% 100%}
  40% {background-size: 10% 80% ,10% 60% ,10% 100%,10% 100%}
  60% {background-size: 10% 100%,10% 80% ,10% 60% ,10% 100%}
  80% {background-size: 10% 100%,10% 100%,10% 80% ,10% 60% }
  100%{background-size: 10% 100%,10% 100%,10% 100%,10% 100%}
}
