:root {
    --hot-color: #b82121;
    --cold-color: #3d6fd4;
    --background-color: #161c23;
    --font-color: #ecf0f1;
  }

  * {
    color: var(--font-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .App {
    display: flex;
    gap: 2rem;
    justify-content: center;
    
  }